* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Segoe UI;
}
.header {
  background-color: #6725a8;
  height: 112px;
  width: 100%;
}
.header::after {
  content: '';
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 24px;
  border-radius: 24px 24px 0 0;
  background: #f6f6fa;
  position: relative;
  bottom: -5px;
  left: 0;
}
.header__container {
  max-width: 1400px;
  display: flex;
  column-gap: 32px;
  margin: 0 auto;
  padding: 16px 22px 16px 24px;
}
.header__menu__button {
  display: flex;
  padding: 11px 9px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  background: none;
  height: fit-content;
  margin-top: 4px;
  cursor: pointer;
}
.header__menu {
  display: flex;
  column-gap: 16px;
}
.logo {
  color: var(--system-white, #fff);
  font-family: Segoe UI;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 85.714% */
  font-variant: all-small-caps;
  letter-spacing: 0.56px;
  margin-top: 2px;
}
.logo__link {
  text-decoration: none;
  color: inherit;
}
.header__search {
  flex-grow: 1;
  position: relative;
  margin-top: 4px;
}
.header__search__input {
  height: 48px;
  padding: 0px 20px;
  border: none;
  outline: none;
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.2);
  color: var(--system-white, #fff);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
}
.header__search__input::-webkit-input-placeholder {
  color: #b392d3;
}
.header__search__input::-moz-placeholder {
  color: #b392d3;
}
.header__search__icon {
  position: absolute;
  right: 21px;
  top: 12px;
  z-index: 5;
  cursor: pointer;
}
.header__navbar {
  display: flex;
  column-gap: 44px;
}
.header__navbar__item {
  display: flex;
  color: var(--system-white, #fff);
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 7px;
  position: relative;
}
.cart__icon {
  margin-right: 6px;
}
.header__navbar__item__count {
  position: absolute;
  background-color: var(--system-orange, #f55123);
  border-radius: 18px;
  padding: 0px 5px;
  color: var(--system-white, #fff);
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  top: -3px;
  right: 6px;
  vertical-align: top;
  line-height: 15px;
}
.main {
  background-color: #f6f6fa;
}
/* main */
.main__container {
  background-color: #f6f6fa;
  padding: 0px 24px 16px 24px;
  margin: 0 auto;
  max-width: 1400px;
}
.form {
  display: flex;
  justify-content: space-between;
}
.form__left {
  display: flex;
  flex-direction: column;
  row-gap: 41px;
  flex: 2;
  max-width: calc(66.6667% - 10px);
}
.form__right {
  flex: 1;
  max-width: calc(33.3333% - 20px);
}

.form__cart__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.28px;
  margin-top: 11px;
  margin-bottom: 25px;
}
.form__cart__select {
  position: relative;
  margin-left: 33px;
  cursor: pointer;
}
.form__cart__select__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form__cart__select__text {
  color: var(--text-black, #000);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.form__cart__select__text::before {
  content: '';
  display: block;
  height: 20px;
  width: 20px;
  outline: 1px solid var(--rulers-rulers-input, rgba(0, 0, 0, 0.2));
  border-radius: 6px;
  position: absolute;
  top: 2px;
  left: -33px;
}
.form__cart__select__input:checked + .form__cart__select__text::before {
  border-color: #0b76ef;
  background-color: #cb11ab;
  background-image: url('/img/Path\ Copy\ 2\ \(Stroke\).svg');
  background-position: 60% 50%;
  background-size: 60%;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  outline: none;
}
.form__cart__hide__button {
  background: none;
  height: fit-content;
  border: none;
  cursor: pointer;
  margin-top: 3px;
  transition: 0.4s;
  position: relative;
}
.form__cart__select__container {
  display: flex;
  justify-content: space-between;
}
.form__cart hr {
  margin-top: 16px;
  background-color: var(--rulers-rulers, rgba(0, 0, 0, 0.1));
  border: none;
  height: 1px;
}
.form__cart__item__img img {
  border-radius: 8px;
  width: 72px;
}
/* form item */
.form__cart__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.form__list {
  max-height: 100vh;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
.rotate {
  transform: rotateZ(180deg);
}
.collapsed {
  max-height: 0;
}
.form__cart__item {
  display: flex;
  margin-top: 7px;
  min-height: 102px;
}
.form__cart__item__img {
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: start;
  margin-right: 16px;
  margin-top: 3px;
}
.form__cart__item__img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 35px;
  width: 72px;
  height: 96px;
  border-radius: 8px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
}
.form__cart__item__img_container {
  display: flex;
  align-items: center;
  height: 96px;
}
.form__cart__select__item {
  margin-left: 34px;
}
.form__cart__select__text__item::before {
  top: -10px;
  left: -32px;
}
.form__cart__item__title {
  max-width: 250px;
  color: var(--text-black, #000);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.form__cart__item__characteristic {
  display: flex;
  column-gap: 17px;
  margin-top: 8px;
  margin-bottom: 4px;
}
.form__cart__item__description {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  flex-grow: 1;
}
.form__cart__item__characteristic span {
  color: var(--text-black, #000);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.form__cart__item__institution {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin-top: 7px;
  color: var(--system-gray, #9797af);
  font-size: 13px;
  font-weight: 400;
  line-height: 10px;
}
.form__cart__item__institution__secondary {
  display: flex;
  align-items: center;
  position: relative;
}
.form__cart__item__institution__secondary svg {
  margin-left: 7px;
  cursor: pointer;
}
.form__cart__item__institution__secondary__popup {
  position: absolute;
  top: 24px;
  left: 2px;
  background-color: #fff;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 11px 16px 13px 16px;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3)) drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
  display: none;
}
.institution__secondary__popup__llc {
  color: var(--light-system-text, #000);
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
}
.institution__secondary__popup__text {
  color: var(--light-system-text, #000);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.form__cart__item__customization {
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.form__cart__item__buttons {
  display: flex;
  align-items: stretch;
  width: fit-content;
  width: 100px;
  margin-top: 1px;
}
.form__cart__item__button {
  border: none;
  background: #ffffff;
  padding: 10px 10px;
  text-align: center;
  color: var(--text-black, #000);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.form__cart__item__quantity {
  color: var(--text-black, #000);
  background: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex-grow: 1;

  justify-content: center;
}
.form__cart__item__minus {
  border-radius: 6px 0 0 6px;
}
.form__cart__item__plus {
  border-radius: 0 6px 6px 0;
}
.form__cart__item__price {
  display: flex;
  flex-direction: column;
  min-width: 110px;
  align-items: end;
  position: relative;
}
.form__cart__item__price__popup {
  position: absolute;
  top: 52px;
  right: -8px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 11px 16px 13px 16px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 260px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  display: none;
}
.popup__discount,
.popup__user-discount {
  display: flex;
  column-gap: 8px;
  justify-content: space-between;
}
.popup__discount__title {
  color: var(--light-system-gray, #a0a0a4);
}
.form__cart__item__remains {
  color: #ff3b30;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 2px;
}
.item__customization_like,
.item__customization_delete,
.popup__item__delete {
  background: none;
  border: none;
  cursor: pointer;
}
.item__customization_like svg path,
.item__customization_delete svg path,
.popup__courier__item__delete svg path {
  transition: 0.5s;
}
.item__customization_delete:hover svg path,
.popup__courier__item__delete:hover svg path {
  fill: #f55123;
}
.item__customization_like:hover svg {
  fill: #cb11ab;
}
.filled-heart {
  fill: #cb11ab !important;
}
.form__cart__item__price_primary {
  color: var(--text-black, #000);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;
  margin-bottom: 2px;
}
.price_primary_currency {
  font-size: 16px;
  line-height: 24px;
}
.form__cart__item__price_secondary {
  color: var(--system-gray, #9797af);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: line-through;
  margin-top: 3px;
  position: relative;
  cursor: pointer;
}
.form__cart__item__price_secondary::before {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px dashed var(--system-gray, #9797af);
  position: absolute;
  bottom: 0;
  left: 0;
}
.item__customization {
  display: flex;
  align-items: center;
  justify-content: end;
}
.item__customization_delete {
  margin-left: 15px;
}

/* form right */

.form__order {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  border-radius: 16px;
  padding: 14px 24px 24px 26px;
  background: var(--background-white, #fff);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.form__order__result {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.form__order__result__price {
  display: flex;
  justify-content: space-between;
}
.form__order__result__price__title,
.form__order__result__price__count {
  color: var(--text-black, #000);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.24px;
}
.form__order__result__price__currency {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.2px;
}
.form__order__result__details span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.form__order__result__quantity,
.form__order__result__discount,
.form__order__result__delivery {
  display: flex;
  justify-content: space-between;
}
.form__order__delivery {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.form__order__delivery__title,
.form__order__pay__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__order__delivery__title h3,
.form__order__pay__title h3 {
  color: var(--text-black, #000);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.form__order__delivery__address {
  color: var(--text-black, #000);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 1px;
}
.form__order__delivery__date {
  border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
  color: var(--system-magenta, #cb11ab);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  width: fit-content;
}
.form__order__delivery__up {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.form__order__delivery__down {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 8px;
  border-radius: 8px;
  background: var(--background-smoky, #f6f6fa);
  padding: 8px 8px 12px 8px;
}
.form__order__delivery__down p {
  color: var(--text-black, #000);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 1px;
}
.form__order__delivery__down span {
  color: var(--system-green, #0cb477);
}
.form__order__pay__card {
  display: flex;
  column-gap: 7px;
  align-items: center;
}
.form__order__pay__card__icon {
  display: flex;
  width: 32px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--background-smoky, #f6f6fa);
  margin-right: 1px;
}
.form__order__pay__up {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}
.form__order__pay__card span {
  color: var(--text-black, #000);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.form__order__pay__down {
  border-radius: 8px;
  background: var(--background-smoky, #f6f6fa);
  padding: 8px 8px 12px 8px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.form__order__pay__down p,
.form__order__pay__down span {
  color: var(--text-black, #000);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.form__order__pay {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.form__cart__select__pay {
  margin-left: 30px;
}
.form__cart__select__text__pay::before {
  left: -29px;
}
.form__order__agree {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}
.violet__button {
  color: var(--system-white, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 8px;
  background: var(--system-magenta, #cb11ab);
  border: none;
  display: flex;
  height: 44px;
  padding: 0px 32px 5px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.form__order__agree p {
  color: var(--text-black, #000);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  position: relative;
  padding-left: 22px;
}
.form__order__agree a {
  color: var(--text-black, #000);
  text-decoration-color: var(--rulers-rulers, rgba(0, 0, 0, 0.1));
}
.form__order__agree p::before {
  content: '';
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transform: rotate(45deg);
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 4px;
  height: 10px;
  left: 4px;
  top: 1px;
}

.from__absencet__item__img {
  position: relative;
  overflow: hidden;
  width: 72px;
  height: 96px;
  border-radius: 8px;
  margin-right: 16px;
}

.from__absencet__item__img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),
    lightgray 50% / cover no-repeat;
}

.from__absencet__item__img img {
  display: block;
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}
.from__absencet__select__container {
  display: flex;
  justify-content: space-between;
}
.from__absencet__select__container__text {
  color: var(--text-black, #000);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.form__absence hr {
  margin-top: 16px;
  background-color: var(--rulers-rulers, rgba(0, 0, 0, 0.1));
  border: none;
  height: 1px;
}
.form__absence__item {
  display: flex;
  padding-top: 12px;
}
.from__absencet__item__description {
  margin-top: 0;
}
.from__absencet__item__title {
  max-width: 290px;
}
.from__absencet__item__title,
.from__absencet__item__characteristic span {
  color: var(--system-gray, #9797af);
}
.form__absence__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
}
.form__absence__item:last-child {
  padding-top: 8px;
}
.form__delivery {
  border-radius: 16px;
  background: var(--background-white, #fff);
  display: flex;
  flex-direction: column;
  padding: 12px 24px 24px 24px;
}
.form__delivery__title {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}
.form__delivery__title h2 {
  color: var(--text-black, #000);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.24px;
}
.form__delivery__title button {
  color: var(--system-magenta, #cb11ab);
  background: var(--background-white, #fff);
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  align-items: end;
  text-decoration: none;
}
.way__item__title {
  color: var(--text-black, #000);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  flex: 1;
  min-width: 165px;
}
.way__item__text {
  color: var(--text-black, #000);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.form__delivery__way__item {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  margin-top: 16px;
}
.form__delivery__way__item__container {
  display: flex;
  column-gap: 8px;
  flex: 4;
}
.form__delivery__way__item__container_1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  flex: 4;
}
.form__delivery__way__item__img {
  position: relative;
}
.form__delivery__way__item__img img {
  width: 40px;
  height: 56px;
  border-radius: 8px;
}
.form__delivery__way__item__img span {
  position: absolute;
  z-index: 2;
  border-radius: 36px;
  background: var(--system-orange, #f55123);
  padding: 0 6px;
  color: var(--text-white, #fff);
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  top: -8px;
  right: -6px;
}
.form__delivery__way__item__time {
  display: flex;
  align-items: center;
  margin-top: 4px;
}
.form__delivery__way__item__time span {
  font-size: 13px;
  line-height: 16px;
}
.form__delivery__way__item__time__star {
  margin-left: 4px;
}
.form__delivery__way__item__time__count {
  margin-left: 8px;
}
.form__delivery__way__item:last-child {
  margin-top: 13px;
}
.form__delivery__text {
  padding: 0;
  background: none;
  margin-top: 18px;
}
.form__delivery__text__popup {
  position: absolute;
  border-radius: 8px;
  background: var(--background-white, #fff);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 16px 14px 16px;
  width: 288px;
  display: none;
}
.form__delivery__text .form__delivery__text__popup {
  top: 24px;
  left: 220px;
}
.form__order__delivery__down__js .form__delivery__text__popup {
  top: 48px;
  left: -6%;
}
.form__order__delivery__down p span {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.form__order__delivery__down p span::before {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
  position: absolute;
  bottom: 0;
  right: 0;
}
.form__order__delivery__down__js p span::before {
}
.form__payment {
  border-radius: 16px;
  background: var(--background-white, #fff);
  padding: 16px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.form__payment__card span {
  color: var(--text-black, #000);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.form__order__pay__card__text {
  color: var(--system-gray, #9797af);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.form__payment__card__container {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.form__details {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.form__order__pay__card__year {
  margin-left: 5px;
}
.form__recipient {
  border-radius: 16px;
  background: var(--background-white, #fff);
  padding: 14px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}
.form__recipient__input {
  color: var(--system-gray, #9797af);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: none;
  border-bottom: 1px solid var(--rulers-rulers-input, rgba(0, 0, 0, 0.2));
  flex: 1;
}
.form__recipient__container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.form__recipient__container__up,
.form__recipient__container__down {
  display: flex;
  max-width: 83%;
  column-gap: 24px;
}
.fixed__div {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
}
.popup__pay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 0, 10, 0.3);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}
.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
}

.popup__pay__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__pay__content {
  background-color: #fff;
  color: #000;
  min-width: 400px;
  padding: 16px 22px 22px 24px;
  position: relative;
  border-radius: 16px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}
.popup__title {
  color: var(--text-black, #000);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;
}
.popup__text {
  display: flex;
  flex-direction: column;
  align-items: left;
  row-gap: 16px;
  padding: 12px 26px 140px 26px;
}
.popup__text__item {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
}
.popup__text__item__svg {
  display: flex;
  width: 32px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--background-smoky, #f6f6fa);
  margin-right: 5px;
}
.popup__close::after {
  content: '';
  height: 2px;
  width: 19px;
  background-color: #9797af;
  position: absolute;
  right: 0;
  top: 10px;
  transform: rotateZ(45deg);
  border-radius: 2px;
}
.popup__close::before {
  content: '';
  height: 2px;
  width: 19px;
  background-color: #9797af;
  position: absolute;
  right: 0;
  top: 10px;
  transform: rotateZ(-45deg);
  border-radius: 2px;
}
.popup__close {
  width: 20px;
  height: 20px;
  right: 22px;
  top: 21px;
  position: absolute;
}
.popup__text__item__input,
.popup__text__item__date {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.popup__text__item__span::before {
  content: '';
  display: block;
  height: 14px;
  width: 14px;
  outline: 1px solid var(--rulers-rulers-input, rgba(0, 0, 0, 0.2));
  border-radius: 20px;
  position: absolute;
  top: 6px;
  left: -25px;
}

.popup__text__item__input:checked ~ .popup__text__item__span::before {
  height: 16px;
  width: 16px;
  background-color: #cb11ab;
  border-radius: 20px;
  position: absolute;
  top: 6px;
  left: -26px;
  outline: none;
  z-index: 10;
}

.popup__text__item__input:checked ~ .popup__text__item__span::after {
  content: '';
  display: block;
  height: 6px;
  width: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: -21px;
  outline: none;
  z-index: 12;
}
.popup__pay__content button {
  padding: 0px 48px 5px;
}

.popup__address {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 0, 10, 0.3);
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}
.popup__address__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__address__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__address__content {
  background-color: #fff;
  color: #000;
  width: 500px;
  padding: 16px 22px 22px 24px;
  position: relative;
  border-radius: 16px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}
.popup__content {
  display: flex;
  flex-direction: column;
}
.popup__content__buttons {
  margin-top: 22px;
  display: flex;
  column-gap: 10px;
}
.delivery__option {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  cursor: pointer;
}
.delivery__option__text {
  text-align: center;
  display: inline-block;
  width: 100%;
  position: relative;
  color: var(--text-black, #000);
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
}
.delivery__option__text::before {
  content: '';
  display: block;
  border: 2px solid rgba(203, 17, 171, 0.15);
  border-radius: 20px;
  position: absolute;
  top: -9px;
  right: 50%;
  transform: translateX(50%);
  height: 32px;
  width: 100%;
}
.delivery__option__input:checked + .delivery__option__text::before {
  border: 2px solid #cb11ab;
  border-radius: 20px;
  position: absolute;
  top: -9px;
  right: 50%;
  transform: translateX(50%);
  height: 32px;
  width: 100%;
}
.delivery__option input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.popup__content__container {
  margin-top: 38px;
}
.popup__content__items {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 56px;
  margin-top: 12px;
}
.popup__text__item__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.popup__text__item__main {
  cursor: pointer;
  max-width: 90%;
}
.popup__content__container h4 {
  color: var(--text-black, #000);
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
}
.popup__text__item__span__main {
  color: var(--text-black, #000);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 27px;
  position: relative;
  display: inline-block;
}
.popup__text__item__input__main {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.popup__text__item__span__main::before {
  content: '';
  display: block;
  height: 14px;
  width: 14px;
  outline: 1px solid var(--rulers-rulers-input, rgba(0, 0, 0, 0.2));
  border-radius: 20px;
  position: absolute;
  top: 4px;
  left: -26px;
}
.popup__text__item__input__main:checked + .popup__text__item__span__main::before {
  height: 16px;
  width: 16px;
  background-color: #cb11ab;
  border-radius: 20px;
  position: absolute;
  top: 4px;

  outline: none;
  z-index: 10;
}

.popup__text__item__input__main:checked + .popup__text__item__span__main::after {
  content: '';
  display: block;
  height: 6px;
  width: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 9px;
  left: -21px;
  outline: none;
  z-index: 12;
}
.popup__courier__button {
  padding: 0px 48px 5px 48px;
}
.popup__star__cpoint {
  margin-left: 28px;
  width: 100%;
}
.popup__content__items__courier {
  display: none;
}
